# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Tests
test
coverage
.nyc_output
jest.config.js

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Temporary files
tmp
temp
.DS_Store
Thumbs.db

# Backup files
*.bak
schema.prisma.bak

# Logs
logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Build output
dist
build
